.main {
    background:url(nike.jpg) fixed no-repeat top right;
    background-size: 300px 200px;
}

h1 {
padding: 30px;
text-align: center;
font-family: "Apple Chancery", cursive;
font-size: 40;
font-weight: bold;
line-height: 10pt;
}

h2 {
padding: 5px;
text-align: center;
font-family: "Apple Chancery", cursive;
font-size: 30;
font-weight: bold;
line-height: 10pt;
}



.topnav {
  overflow: hidden;
}


.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Apple Chancery", cursive;
  font-weight: bold;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #d96f0d;
  color: white;
}

.center {
border:1px solid black;
margin-left:auto;
margin-right:auto;

}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


th {
background-color: #d96f0d;
}

.pageContainer {
   width:80%; 
   max-width: 800px;
   margin:7px auto; 
   padding:25px; 
   border:1px black solid; 
   background:white;
   min-height: 500px;
   border-radius: 10px;
}

.centerText
{
   text-align: center;
}

.errormsg, .alert {
   color:red; 
   text-align: center;
}

.myForm, .formLayout
{
   width:90%;
   margin:0 auto;
   text-align: left;
   padding:3%;
   border-radius: 6px; 
   border: 1px solid #CCCCCC; 
}
.formGroup
{
   margin:10px 0;  

}

.formLayout label
{
   width: 150px;
   padding:1%;
   display: inline-block;
   vertical-align: top;
   clear:left;
}

.formLayout input, .formLayout textarea, .formElements
{
   width:52%;
   border: 1px solid #CCCCCC; 
   border-radius: 4px;
   color: #555555;
   font-size:x-large;
}

.formLayout option
{
   padding:2px 6px;
}

.formLayout submit, .formLayout input[type=submit]
{
   width:50%;
   height:auto;
   background: linear-gradient(#ffffff, #e6e6e6);
}

.formLayout input[type=submit]:hover{
   background:#e6e6e6;
}

/* related groups of elements such as radiobottons or checkboxes */
.formElements
{
   display: inline-block;
   border:none;
}

.formElements input
{
   width:10%;
}
.formLayout input:focus
{     
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); border-color:#66afe9;
   transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.parent_div {
position: absolute;
left: 400px;
bottom: 90px;
width: 100%;
}
.formGroup button {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
width: 250px;
margin: 0 auto;
margin-right: 16px;
font-size: 20px;
background-color: #d96f0d;
padding: 10px;
}

a:hover, a:link {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #d96f0d;
  color: black;
  margin: 0 auto;
  margin-right: 16px;
  font-size: 20px;
  padding: 10px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
